<h1> Speak your Mind </h1>


<% if current_user %>
  <%= form_for @comment do |f| %>
    <%= f.label :text %>
    <%= f.text_field :text %>
    <%= f.hidden_field :commentable_id %>
    <%= f.hidden_field :commentable_type %>

    <%= f.submit %>
  <% end %>
<% end %>

