<h1> Want to eventually display the post.description </h1>
<h4> <%= link_to 'Back to Front Page', '/' %> </h4>


<% if current_user %>
<h4><%= link_to 'Add a comment', new_comment_path(:commentable_id => @post.id, :commentable_type => Post) %></h4>
<% else %>
<p><%= link_to 'Log in', new_session_path %>  or <%= link_to 'Sign up', new_user_path %> to comment </p>
<% end %>


  <ul style="list-style:none">
    <% @comments.each do |comment| %>
      <li><%= comment.text %></li>
        <ul>
          <li><%= link_to 'comment on this comment', new_comment_path(:commentable_id => @post_id, :commentable_type => Comment) %> </li>
        </ul>
    <% end %>
  </ul>

